body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5fdfb;
}
header {
  background-color: #e0f7f4;
  padding: 1rem;
}
.navbar {
  background-color: #d0f0ff;
}
.navbar .nav-link {
  color: #333;
}
.card {
  background-color: #ffffff;
}
footer {
  background-color: #1c2b36;
  color: white;
  padding: 2rem 1rem;
}
.footer-icons a {
  color: white;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.rol-doctor, .rol-cliente {
  display: none;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}